@charset "UTF-8";

.elemento-com-borda{
    border: 3px solid #ffcc00;
    padding: 10px;

}
.cascata{
    background-color: grey;
}
#para2{
    background-color: orange;
}
.gradient{
    font-weight: bold;
    font-size: 4em;
    width: 400px;
    height: 300px;
    background: linear-gradient(red, yellow, green);
    margin: 20px 30px;
}